body
{
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

table
{
    max-height: 600px;
    max-width: 600px;
    height: 100vw;
    width: 100vw;
    border: 4px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
tr td
{
    background-color: skyblue;
    text-align: center;
    border: 2px solid black;
    font-size: 150%;
    font-family: sans-serif;
    
}
.vertical
{
    border-right: 4px solid black;
}
.horizontal
{
    border-bottom: 4px solid black;
}